@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

* {
  font-family: 'Roboto', sans-serif;
  font-size: 12pt
}
a {
  text-decoration: none;
}
/*color pallete*/
.App {
  min-height: 100vh;
  height: 100%;
  background-color: #fff;
  /* background: linear-gradient(135deg, rgba(214, 214, 214, 0.815) 0%, rgba(12,152,245,0.5) 100%); */
}
.primary {
  background-color: #fff;
  color: #263238;
}
.accent {
  background-color: #fff;
  color: #263238;
}
.secondary {
  background-color: rgb(235,235,235);
  color: #263238;
}
.background {
  /* background-color: #263238; */
  color: #263238;
}
/**/
.App {
  max-width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-title {
  font-size: 1.5em;
}

.App-body {
  text-align: left;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*Tech styles*/
.tech-wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.tech-divider {
  height: auto;
  width: 4px;
  border-radius: 2px;
}
.tech-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;;
}
.tech-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
}

@keyframes fader {
  0% {opacity:0}
  80% {opacity:0}
  100% {opacity:1}
}
.button-bar {
  margin-left:auto;
  margin-right:auto;
  width: 85vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  opacity: 1;
  transition: opacity 0.5s ease;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}
.button-outer {
  background-color: #DB504A;
  /* background: linear-gradient(to right, rgb(188,54,57), rgb(177, 46, 52)); */
  padding: 15px 30px 15px 30px;
  border-radius: 5px;
  animation: fader 3.5s ease;
  transition: all 0.5s ease;
  border: solid 1px rgba(0,0,0,0);  
}
.button-outer:hover {
  background-color: #283845;
  border-radius: 5px;
  border: solid 1px #00B9AE;
}
.button-outer > a {
  transition: all 0.5s ease;  
}
.button-outer:hover > a {
  transition: all 0.5s ease;
  color: #00B9AE;
}
.button-text {
  color: black;
  transition: all 0.5s ease;
}
.button-text:hover {
  color: #DB504A;
  transform: scale(1.1);
}
.hide {
  opacity: 0;
  transition: opacity 0.5s ease;
}
.logowrapper {
  transform: scale(0);
  opacity: 0;
}
.tech-para{
  opacity: 0;
  margin-top:-20vh;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text { font: 12px sans-serif; }

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}