@import url('https://fonts.googleapis.com/css?family=Roboto');

.info-wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px;
}
.info-parent {
  margin-left: 5vw;
  margin-right: 5vw;  
  background-color: rgba(255, 255, 255, 0.3);  
  animation: swing 1s ease;
}
@keyframes rotate {
  0% {  transform: rotateX(90deg);
  } 100% {
    transform: rotateX(0deg);    
  }
}
@keyframes swing {
  0% { padding-top: 100vh}
  100% { padding-top: 0}
}
.me {
  transform: scale(0.8);
  opacity: 0;
  border-radius: 50%;
  transition: all 0.5s ease;
}
.me:hover {
  transform: scale(1);
  border-radius: 0;  
}
.first-wrapper {
  font-size: 20px;
  color: #DB504A;
  transition: all 0.5s ease;
}
.first-parent-wrapper:hover > .first-wrapper {
  color: #00B9AE;
}
.prof-pic {
  width: 1750px;
  margin-right: 5vw;
  margin-left: 2.5vw;
}
@keyframes block {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
    }
  100% {
    opacity: 1;
  }
}
.block-icon {
  animation: block 2s ease infinite;
}