.main-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  animation: pop 1s ease;
}
.divider {
  width: 4px;
  border-radius: 2px;
}
.left-wrapper {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 10px;
}
.right-wrapper {
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.proj-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 40px;
  background-color: #F7F7FF;
}
@keyframes viewimg {
  0% { opacity: 0 }
  20% { opacity: 1 }
  100% { opacity: 1 }
}
.viewer-img:hover {
  cursor: pointer;    
}
.picker-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  width: 120px;
}
.picker-img {
  max-height: 25px;
  opacity: 0.7;
  transition: all 0.3s ease;
}
.picker-img:hover {
  opacity: 1;
  transform: scale(1.2); 
  cursor: pointer;  
}
.picker-img:active {
  transform: scale(1);
}

@keyframes pop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.popup-wrapper {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(8,76,97,0.9);
  left:0;
  top:0;
  z-index: 99999;
  animation: pop 0.4s ease;
}
.popup-img {
  max-height: 90vh;
  max-width: 90vw;
  cursor: pointer;
}

.plw-1 {
  background-color: #F7F7FF;
  color: #DB504A;
  border-bottom: solid 1px #DB504A
}
.plw-2 {
  background-color: #F7F7FF;
  color: #283845;
  font-size: 14px;
}
.plw-3 {
  background-color: #F7F7FF;
  color: #084C61;
  text-align: center;
  transition: all 0.3s ease;
}
.plw-3:hover {
  color: #00B9AE;
}
.plw-4 {
  background-color: #F7F7FF;
  color: #DB504A;
  text-align: center;
  border-bottom: solid 1px #DB504A
  
}